
			.box{
				width:50%;
				margin-top:10%;
				margin:auto;
				padding:28px;
				height:350px;
				border:1px #111 solid;
				display:none;    //初始状态为隐藏，点击”增加订单“按钮后才会显示
				text-align:center;
				vertical-align:middle;
			}
			.box.show{
				display:block;
			}

			.box input{
				width:80%;
				font-size:18px;
				margin-top:18px;
			}
			 #s1,#s2,#s3{
                 width: 200px;
			}